<footer>
  <div class="layout-region">
    <p>Copyright © 2020 Design Systems Within Reach. All rights reserved. (This is parody, y’all.)</p>

    <nav>
      <ul>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Terms of use</a></li>
        <li><a href="#start">Back to top</a></li>
      </ul>
    </nav>
  </div>
</footer>
