<section class="banner banner-welcome">
  <div class="layout-region">
    <div class="banner banner-home">
      <h1 class="banner-hed-main">{{ hed-welcome }}</h1>
      <span class="tout">{{{ tout-aboutus }}}</span>
      <a class="link-more" href="{{ button-url }}">{{ button-text }}</a>
    </div>
  </div>
</section>
