<a class="card" href="{{ url }}">
  <img class="teaser-thumb teaser-thumb__card" src="{{ image-url }}" alt="" />
  <div class="card-body">
    <span class="teaser-name">{{ name }}</span>
  </div>
</a>
