<section class="banner banner-subscribe">
  <div class="layout-region">
    <h2 class="banner-head__featured">{{ headline }}</h2>

    <ul class="banner-list">
      {{#each items}}
      <li>
        {{> @banner-element }}
      </li>
      {{/each}}
    </ul>
  </div>
</section>
