<div class="teaser-featured">
  <img class="teaser-thumb" src="{{ url-image }}" alt="" />
  <h3 class="article-title"><a href="{{ url }}">{{ title }}</a></h3>
  {{#if author}}
  <p class="article-metadata">by <span class="article-author">{{ author }}</span></p>
  {{/if}}
</div>
