<!DOCTYPE html>
<html id="start" lang="en" class="no-js">
<head>
<meta charset="utf-8" />

<title>{{ _target.title }} — {{{ _config.project.title }}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{{path '/assets/css/lib/normalize.css'}}" />
<link rel="stylesheet" href="{{path '/assets/css/main.css'}}" />

</head>
<body>

<a class="sr-only link-skipnav" href="#content">Skip to content</a>
